body {
	font-family: arial;
}

.wrapper {
	width: 830px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#game {
	margin: 0 auto;
	display: block;
	background-color: #181818;
}

.lives span {
	float: right;
	font-weight: bold;
	margin: 0.5em;
	width: 20px;
	height: 20px;
	background: url('images/bird.png') no-repeat;
}

.hide {
	display: none;
}

.status {
	padding-top: 1em;
	text-align: center;
	clear: both;
}