body {
	font-family: arial;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	width: 830px;
}

h1 {
	text-align: center;
}

#game {
	background-color: #181818;
	display: block;
	margin: 0 auto;
}

.actions {
	float: left;
	padding-top: 5px;
}

.lives span {
	background: url('images/bird.png') no-repeat;
	height: 20px;
	float: right;
	font-weight: bold;
	margin: 0.5em;
	width: 20px;
}

.hide {
	display: none;
}

.status {
	clear: both;
	padding-top: 1em;
	text-align: center;
}